.flexrow{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin: auto;
}
ul li{
    list-style: none;
}
.title{
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}